.soundButtons {

  position: absolute;
  left: 50px;
  top: 50px;
  padding: 7px;
  border-radius: 10px;
  width: 180px;
  text-align: center;

  .volume {
    margin: 5px 0;

    &.disabled {
      opacity: 0.8;
      pointer-events: none;
    }
  }

  button {
    background: none;
    cursor: pointer;
    border: none;
    font-size: 22px;
    outline: none;

    &:active {
      transform: translateY(2px);
    }
  }

  .playButtons {
    margin-bottom: 15px;
    text-align: center;
  }

  @media (min-width: 499px) and (max-width: 1025px) {
    top: 5px;
    left: 5px;
    padding: 5px;
    width: auto;

    & .volume, & .mute {
      display: none;
    }

    & .playButtons {
      margin-bottom: 0 !important;
    }
  }

  .slider, .mute {
    cursor: pointer;
  }
}



.theme-light {
  .soundButtons {
    background: rgba(0,0,0,0.55);
    color: #fff;
  }
}

.theme-dark {
  .soundButtons {
    background: #fff;
    color: #333;
  }
}