@import '../../styles/mixins';

.Minesweeper {
  @include borders(4px, solid, white, #999);
  background: #c2c2c2;
  padding: 16px 16px 0 16px;

  &.not-started {
    .button:not(.visible) {
      @include borders;
    }
  }
  //.button
}

.header {
  @include borders(4px, solid, #7b7b7b, white);
  background: #c0c0c0;
  padding: 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  @include borders(4px, solid, #7b7b7b, white);
  margin-top: 16px;
  display: grid;

  &.difficult_easy {
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
  }

  &.difficult_normal {
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
  }

  &.difficult_hard {
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(30, 1fr);
  }
}

.face {
  @include borders;
  @include buttons;
  width: 52px;
  height: 52px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.theme-light {
  .introScreen {
    button {
      color: #fff;
      background: #333;
    }
  }
}

.theme-dark {
  .introScreen {
    button {
      color: #333;
      background: #fff;
    }
  }
}

.introScreen {

  button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 90px;
    font-family: cursive;
    font-weight: bold;
    line-height: 1;
    padding: 5px 25px;
    border-radius: 35px;
    text-shadow: 1px 1px 3px #CE5937;
    box-shadow: 0 2px 7px rgba(0,0,0,0.5),
                0 -2px 7px rgba(0,0,0,0.5),
                2px 0 7px rgba(0,0,0,0.5),
                -2px 0 7px rgba(0,0,0,0.5);
  }
}